
main {
	max-width: 670px;
	margin: 0 auto;
}

main img {
    max-width: 100%;
    height: auto;
  }

.hero {
	position: relative;
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #5F1A37);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family:"Great Vibes", serif;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }

  h1 {
	font-family: 'Bruno Ace SC', cursive;
  }
  
  h2 {
	color: black;
	font-family: 'Bruno Ace SC', cursive;
  }
  
  a {
	color: #007bff;
	text-decoration: none;
  }
  
  /* Hero Image */
  .hero {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .hero img {
	max-width: 100%;
  }
  
  /* Call to Action */
  .cta {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .cta h2 {
	margin-top: 0;
  }
  
  .cta p {
	color: #666;
  }
  
  /* Current Events */
  .events {
	margin-bottom: 20px;
	text-align: center;
  }
  
  .events ul {
	list-style-type: none;
	padding: 0;
  }
  
  .events li {
	margin-bottom: 5px;
  }
  
  /* Weather Card */
  .weather {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .weather-card {
	background-color: #73C2BE;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
  }
  
  /* Company Spotlights */
  .spotlights {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .spotlight {
	width: 300px;
	background-color: #73C2BE;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	text-align: center;
  }
  
  .spotlight img {
	max-width: 100%;
	margin-bottom: 10px;
  }
  
  .spotlight p {
	color: black;
	margin-bottom: 10px;
  }

  /* Start of Header styles */
  header {
	background-color: #776885;
	padding-top: 20px;
	color: #fff;
	height: 15%;
  }
  
  header h1 {
	margin: 0 auto;
	padding-left: 20px;
	padding-bottom: 20px;
  }
  
  header ul {
	list-style-type: none;
	padding: 0;
	margin: 10px 0 0;
  }
  
  header li {
	display: inline-block;
	margin-right: 10px;
  }
  
  header li:last-child {
	margin-right: 0;
  }
  
  header a {
	color: #fff;
	text-decoration: none;
  }
  
  header a:hover {
	text-decoration: underline;
  }

  #menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #776885;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}
/* End of Header styles */

  /* Start of footer styles */
  ul {
	list-style: none;
  }

  .row {
	display: flex;
	flex-wrap: wrap;
  }

  .container {
	max-width: 1170px;
	margin: auto;
  }

  .footer {
	background-color: #5F1A37;
	padding: 70px 0;
  }

  .row {
	display: flex;
	flex-wrap: wrap;
  }

  .footer-col {
	width: 100%;
	padding: 0 15px;
  }

  .footer-col h4 {
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-family: 'Bruno Ace SC', cursive;
	font-weight: 500;
	position: relative;
  }

  .footer-col h4::before{
	content:  '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #73C2BE;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
  }

  .footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
  }

  .footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #f2f2f2;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
  }

  .footer-col ul li a:hover {
	color: #73C2BE;
	padding-left: 10px;
  }

  .footer-col ul li p {
	font-size: 16px;
	text-transform: capitalize;
	color: #f2f2f2;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
  }

  .footer-col ul li p:hover {
	color: #73C2BE;
	padding-left: 10px;
  }

  .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover {
	color: #73C2BE;
	background-color: white;
  }
  /* End of footer styles */

  /* Styles for discover page */

  .subtitle {
	background-color: #73C2BE;
	border-radius: 25px;
	text-align: center;
  }

  .farmer {
    margin-left: 30px;
	margin-right: 30px;
  }

  .golf {
    margin-left: 30px;
	margin-right: 30px;
  }

  .parade {
    margin-left: 30px;
	margin-right: 30px;
  }

  .celebration {
    margin-left: 30px;
	margin-right: 30px;
  }

  .football {
    margin-left: 30px;
	margin-right: 30px;
  }

  .fair {
    margin-left: 30px;
	margin-right: 30px;
  }

  #visitCount {
	background-color: #73C2BE;
	display: block;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	border-radius: 25px;
	font-size: 20px;
  }

  /* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/*-----------FORM-----------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
	padding-bottom: 1rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
	margin: 0 auto;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#thanks {
	color: #333;
	margin-top: 40px;
  }

#thankYou {
	color: #555;
	font-size: 18px;
	margin-bottom: 40px;
  }
  


  .menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #73C2BE;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.grid-view {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid-view {
	text-align: center;
}

.grid-view img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid-view > * {
	margin: 0.1rem;
}

.grid-view h3 {
	font-family: "Caveat", cursive;
}

.list-view {
	display: flex;
	flex-direction: column;
}

.list-view section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list-view section > * {
	margin: 0 1rem;
}

.list-view img {
	display: none; /* smaller viewports only */
}

.list-view h3 {
	font-size: 1rem;
}

section h3 {
	font-size: 1.5rem;
	font-family: Roboto, Helvetica, sans-serif;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}

.member-card {
	margin: 25px;
}