@media (min-width: 37.5em) {
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
    .footer-col {
        width: 25%;
        margin-bottom: 30px;
        padding: 0;
    }

    header,
  main {
      text-align: center;
      max-width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  h1 {
    grid-column: 1/3;
  }

  #head {
    grid-column: 1/7;
  }

  form {
    grid-column: 3/5;
  }

  .navigation {
    grid-column: 3/7;
  }

  .events {
    grid-column: 1/4;
  }

  .weather {
    grid-column: 4/7;
  }

  .spotlights {
    grid-column: 3/5;
  }

  /* Styles for discover page */
  .farmer {
    grid-column: 1/3;
  }

  .golf {
    grid-column: 3/5;
  }

  .parade {
    grid-column: 5/7;
  }

  .celebration {
    grid-column: 1/3;
  }

  .football {
    grid-column: 3/5;
  }

  .fair {
    grid-column: 5/7;
  }

  .hover {
    border-radius: 10px;
  }

  .hover:hover {
    box-shadow: 0 0 50px #333;
  }

  #visitCount {
    grid-column: 3/5;
    background-color: #776885;
    color: white;
    height: 100px;
    padding-top: 50px;
  }

  form label.sbs {
    padding: .4rem 0;
  }

  #thanks {
    grid-column: 1/7;
  }

  #thankYou {
    grid-column: 3/5;
  }
}

.grid-view .member-card {
  margin: auto; /* Center the member cards within each grid column */
}