@media (min-width: 37.5em) {
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
    .footer-col {
        width: 25%;
        margin-bottom: 30px;
        padding: 0;
    }

    header,
  main {
      text-align: center;
      max-width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  h1 {
    grid-column: 1/3;
  }

  #head {
    grid-column: 1/7;
  }

  form {
    grid-column: 3/5;
  }

  .navigation {
    grid-column: 3/7;
  }

  .events {
    grid-column: 1/4;
  }

  .weather {
    grid-column: 4/7;
  }

  .spotlights {
    grid-column: 3/5;
  }

  #companyS {
    grid-column: 3/5;
  }

  /* Styles for discover page */
  .farmer {
    grid-column: 1/3;
  }

  .golf {
    grid-column: 3/5;
  }

  .parade {
    grid-column: 5/7;
  }

  .celebration {
    grid-column: 1/3;
  }

  .football {
    grid-column: 3/5;
  }

  .fair {
    grid-column: 5/7;
  }

  .hover {
    border-radius: 10px;
  }

  .hover:hover {
    box-shadow: 0 0 50px #333;
  }

  #visitCount {
    grid-column: 3/5;
    background-color: #776885;
    color: white;
    height: 100px;
    padding-top: 50px;
  }

  form label.sbs {
    padding: .4rem 0;
  }

  #thanks {
    grid-column: 1/7;
  }

  #thankYou {
    grid-column: 3/5;
  }

  .menu button {
    grid-column: 3/5;
  }

  .menu {
    grid-column: 1/7;
  }

  #members-container {
    padding: 20px;
  }

  .forecast {
    display: flex;
    justify-content: space-around;
  }
  
  .member-card {
    background-color: white;
    /* display: flex; */
  }

  .member-title {
    padding: 20px;
    justify-content: center;
  }

  .member-address {
    padding: 20px;
    justify-content: center;
  }

  .member-phone {
    padding: 20px;
    justify-content: center;
  }

  .member-website {
    padding: 20px;
    justify-content: center;
  }

  .grid-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
  }
  
  .grid-view img {
    max-width: 200px;
    height: 100px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
  }
  
  .grid-view > * {
    margin: 0.1rem;
    padding-top: 8%;
    width: 350px;
    height: 300px;
  }

  .member-card > h2 {
    margin: 0px;
    padding: 0px;
  }

  .member-card > p {
    margin: 0px;
    padding: 0px;
  }

  .list-view > .member-card{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}


