#headerfont {
    font-family: 'Bruno Ace', cursive;
}
#pfont {
    font-family: 'Barlow Condensed', sans-serif;
}
#color1 {
    color: white;
    background-color: #776885;
}
#color2 {
    color: white;
    background-color: #73C2BE;
}
#color3 {
    color: white;
    background-color: #5F1A37;
}