/* html/element selectors */
#picofme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 10px solid #cc9733;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #8caae2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #3368cc;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
  	font-family: 'Bruno Ace SC', cursive;
}

header,
main {
	max-width: 767px;
	margin: 0 auto;
  	text-align: center;
}

iframe {
	width: 90%;
	display: block;
	margin: 0 auto;
	padding-bottom: 25px;
}

h1 {
	font-size: 2rem;
  color: white;
}

nav {
	background-color: #cc9733;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: black;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	color: #3368cc;
  background-color: black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cc9733;
    padding: 2%;
  }
  ul {
    list-style: none;
    text-align: left;
  }


/* class selectors */
.lastModified {
    text-align: right;
}
.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  border: 1px solid black;
  padding-bottom: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  background-color: #3368cc;
  color: white;
  padding: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: 'Bruno Ace SC', cursive;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px;
}

.card-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.subtitle {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Bruno Ace SC', cursive;
}

/* id selectors */

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
	top: 7rem;
	left: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
}

.stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
} 

main {
	max-width: 670px;
	margin: 0 auto;
}

.hero {
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
	font-family: 'Bruno Ace SC', cursive;
	text-align: center;
}

#lesson {
	padding-left: 20px;
}


